body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.qualification-check {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-bottom: 40px;
}

.question {
    max-height: 500px;
    overflow: hidden;
}

.select-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; 
}

/* .answer-1 option {
    width:300px;
    height: 50px;
} */
